</div><title>Elite PokeFiles</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='downloadPage.css')}}">
<div class="container-large">
    <h2 class="titulo">{{session["name"]|capitalize}}'s Elite PC</h2>
    <p>Change other user's permissions:</p><br>
    <p class="explicacao"><br><b>Perms 0:</b> Download<br>
        <b>Perms 1:</b> Perms 0 + Upload<br>
        <b>Perms 2:</b> Perms 1 + Delete
        {% if session["perms"] == 4 %}
        <br><b>Perms 3:</b> Perms 2 + Change other user's permissions
        {% endif %}
    </p>
    <form action="/userarea" method="POST">
        <button>User Area</button>
    </form>

    <form>
    {% if session["perms"] >= 3 %}
        {% for data in data %}
        <div class="conjunto-perm">
        <p>Email: {{data["email"]}}<br>Perms: {{data["perms"]}}<br>
            <br>
            <label for="perms">Change to:</label><br>
            <a class="elements-perm" href="{{url_for ('adminUpdate0', user = data['_id'])}}">Perms 0</a>
            <a class="elements-perm" href="{{url_for ('adminUpdate1', user = data['_id'])}}">Perms 1</a>
            <a class="elements-perm" href="{{url_for ('adminUpdate2', user = data['_id'])}}">Perms 2</a>
            {% if session["perms"] == 4 %}
                <a class="elements-perm" href="{{url_for ('adminUpdate3', user = data['_id'])}}">Perms 3</a>
            {% endif %}
            <a class="elements-perm" href="{{url_for ('adminDelete', user = data['username'])}}">Delete</a>
        </p>
        </div>
        {% endfor %}
    {% endif %}
    </form>
</div>