</div><title>My PokeFiles</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='downloadPage.css')}}">
<div class="container">
    <h2 class="titulo">{{session["name"]|capitalize}}'s PC</h2>
    <form action="/logout" method="POST">
        <button>Log off</button>
    </form>
    {% if session["perms"]>= 0 %}
    <form action="/lendToUser" method="post" role="form">
        <div class="form-group">
            <label for="name">User to lend to:</label>
            <input type="lendTo" class="form-control" id="lendTo" name="lendTo" placeholder="User you wanna lend to">
        </div>
        <button type="submit" class="btn btn-success">Lend it!</button>
    </form>
    <form action="/lendToUser" method="POST">
        <hr>
        <p class="joinhr">Users you're lending to:</p>
    </form>
    <div class="conjunto">
    {% for i in lendingName %}
        <p>{{i}}</p>
    {% endfor %}
    {% for Folder in folderLended %}
        <div>
            <a class="elements" href="{{url_for ('stopLending', userToStopLending = Folder)}}">Stop lending</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>