<title>Denied PokeFiles</title>
<link rel="stylesheet" media="screen">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h2>Denied PokeFiles</h2>
    <a>You tried doing something that isn't allowed.<br>Please log in or create your account first.</a>
    <form action="/login" method="POST">
        <button>LOGIN</button>
    </form>
    <form action="" method="post" role="form">
    <form action="/newuser" method="POST">
        <button>REGISTER</button>
    </form>
</div>