<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='downloadPage.css')}}">
<div class="dontleaveme">
    <div class="container">
        <h2 class="titulo">Withdraw Files</h2>
        <form action="/userarea" method="POST">
            <button>User area</button>
        </form>
        <p>Your files:</p><br>
        {% for File in pathList %}
        <div class="conjunto" >

            <p>{{File}}</p>
            <div>
                <a class="elements" href="{{url_for ('downloadfile', filename = File)}}" download="">Download</a>
                {% if session["perms"] >= 2 %}
                    <div>
                    <a class="elements" href="{{url_for ('deletefile', deletefilename = File)}}">Delete</a>
                    </div>
                {% endif %}
                <br>
            </div>
        </div>
        {% endfor %}
        {% if borrowingFolder %}
            <p>Borrowed files:</p><br>
            {% for File in borrowingPathList %}
            <div class="conjunto" >
                <p>{{File}}</p>
                <div>
                    <a class="elements" href="{{url_for ('downloadborrowedfile', filepath = Folder, filename = File)}}" download="">Download</a>
                    {% if session["perms"] >= 4 %}
                        <div>
                        <a class="elements" href="{{url_for ('deletefile', deletefilename = File)}}">Delete</a>
                        </div>
                    {% endif %}
                    <br>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>