<title>PokeFiles</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h2 class= "titulo">Create your PokeAccount!</h2><br>
    <form action="/login" method="POST">
        <p class="join">Already have an account?</p>
        <button>Login now!</button>
    </form>
    <form action="/newuser" method="post" role="form">
    {{ form.csrf }}
        <div class="form-group">
            <label for="name">Username:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Your desired username.">
            
            <label for="name">Name:</label>
            <input type="name" class="form-control" id="name" name="name" placeholder="Enter your name or nickname.">

            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="This email will be used to confirm your account.">
            
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">
            
        </div>
        <button type="submit" class="btn btn-success">Sign Up</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        
        {{ message[1] }}
    </div>
    {% endif %}
    
    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
        {{ message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    
</div>