
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

<div class="container">
    <h2 class="titulo">Upload File</h2>
    <form action="/userarea" method="POST">
        <button>User Area</button>
    </form>
    <p>Upload to Your Folder</p>
    <form action = "/uploadFile" method = "POST" enctype = "multipart/form-data">
        <div class = "custom-file">
            <label class = "custom-file-label" for = "image"><input type="file" name = "file" id = "file" multiple = "true" /> </label>
        </div>
        <button type="submit">Upload file...</button>
    </form>
    <hr>
    <p>Upload to Shared</p>
    <form action = "/uploadShared" method = "POST" enctype = "multipart/form-data">
        <div class = "custom-file">  
            <label class = "custom-file-label" for = "image"><input type="file" name = "file" id = "file" multiple = "true" /> </label>
        </div>
        <button type="submit">Upload file...</button>
    </form>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>