</div><title>My PokeFiles</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='downloadPage.css')}}">
<div class="container">
    <h2 class="titulo">{{session["name"]|capitalize}}'s PC</h2>
    <form action="/logout" method="POST">
        <button>Log off</button>
    </form>
    {% if session["perms"] >= 1 %}
    <form action="/upload-file" method="POST">
        <hr>
        <p class="joinhr">Want to deposit files?</p>
        <button>Upload</button>
    </form>
    {% endif %}
    {% if session["perms"]>= 0 %}
    <form action="/downloads" method="POST">
        <hr>
        <p class="joinhr">Want to withdraw files?</p>
        <button>Download</button>
    </form>
    {% endif %}
    {% if session["perms"]>= 5 %}
    <form action="/lendToUser" method="POST">
        <hr>
        <p class="joinhr">Wanna lend to someone?</p>
        <button>Add lenders</button>
    </form>
    {% endif %}
    {% if session["perms"] >= 3 %}
    <form action="/adminChange" method="POST">
        <hr>
        <p class="joinhr">Manage Accounts</p>
        <button>Change'em!</button>
    </form>
    <form action="/ngrokOn" method="POST">
        <hr>
        <p class="joinhr">Turn on Ngrok</p>
        <button>Turn it on!</button>
    </form>
    <form action="/ngrokOff" method="POST">
        <hr>
        <p class="joinhr">Turn ALL Ngrok tunnels off<br>WARNING! You can't turn it on again if you're using the tunnel now.</p>
        <button>Turn it off!!</button>
    </form>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>