</div><title>Landing PokeFiles</title>
<div class="container">
    <h2>Landing PokeFiles</h2>
    <a>Want to create a account or to login?</a>
    <form action="/newuser" method="POST">
        <button>REGISTER</button>
    </form>
    <form action="/login" method="POST">
        <button>LOGIN</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>