</div><title>My PokeFiles</title>
<div class="container">
    <h2>My PokeFiles</h2>
    <form action="/upload-file" method="POST">
        <button>UPLOAD STUFF</button>
    </form>
    <form action="/login" method="post" role="form">
        <div class="form-group">
            <label for="name">Username:</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Your username.">
            
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Your password.">
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>